
 .hover-underline-animation {
   display: inline-block;
   position: relative;
 }
 
 .hover-underline-animation:after {
   content: '';
   position: absolute;
   width: 50%;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   right: 0;
   background-color: 
 white;
   transform-origin: bottom left;
   transition: transform 0.25s ease-out;
 }
 
 .hover-underline-animation:hover:after {
   transform: scaleX(1);
   transform-origin: bottom right;
 }
 