
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'GilroyLight';
    src: url(./assets/Gilroy-Light.otf);
}
@font-face {
    font-family: 'GilroyExtraBold';
    src: url(./assets/Gilroy-ExtraBold.otf);
}
@font-face {
    font-family: 'GilroyBold';
    src: url(./assets/Gilroy-Bold.ttf);
}
@font-face {
    font-family: 'GilroySemiBold';
    src: url(./assets/Gilroy-SemiBold.ttf);
}
@font-face {
    font-family: 'GilroyThin';
    src: url(./assets/Gilroy-Thin.ttf);
}
@font-face {
    font-family: 'GilroyRegular';
    src: url(./assets/Gilroy-Regular.ttf);
}
@font-face {
    font-family: 'GilroyBlack';
    src: url(./assets/Gilroy-Black.ttf);
}
@font-face {
    font-family: 'GilroyUltraLight';
    src: url(./assets/Gilroy-UltraLight.ttf);
}
@font-face {
    font-family: 'GilroyHeavy';
    src: url(./assets/Gilroy-Heavy.ttf);
}
@font-face {
    font-family: 'GilroyMedium';
    src: url(./assets/Gilroy-Medium.ttf);
}

.btn-primary {
    @apply w-max border-white font-gilroy-semi-bold text-[16px] md:text-[20px] border-2 md:border-none bg-transparent md:bg-white text-white md:text-black rounded-full py-2 lg:py-[10px] px-5;
}
.btn-service {
    @apply h-full rounded-full flex justify-center items-center  font-gilroy-semi-bold text-[12px] md:text-[20px] bg-white text-black py-2 w-max md:py-[10px] px-5;
}
.btn-secendary {
    @apply w-max bg-black text-xs md:text-[20px] text-white py-2 md:py-[15px] px-5 rounded-full;
}
.btn-submit {
    @apply h-[41px] mt-10 w-[121px] py-1 px-5 border-violet-700 border-[2px] border-t-0 border-l-0 relative bg-transparent rounded-full;
}
.survise-text {
    @apply text-[28px] md:text-[50px] lg:text-[70px] xl:text-[60px] 2xl:text-[60px] font-gilroy-bold leading-tight lg:w-[700px];
}
.text-peragrap {
    @apply text-[16px] md:text-[24px] font-gilroy-semi-bold lg:w-[600px];
}
.about-us-crds-text-div {
    @apply flex flex-col justify-evenly md:justify-center md:gap-5 w-[180px] h-[198px] md:w-[292px] md:h-[320px] lg:w-[300px] xl:w-[260px] 2xl:w-[300px] rounded-lg md:m-6 md:p-5 lg:p-8 bg-white items-center text-center font-gilroy-bold  overflow-hidden;
}
.about-us-crds-imge-div {
    @apply w-[43.31px] h-[43.31px] md:w-[70px] md:h-[70px] shadow-xl flex justify-center items-center md:p-5 bg-orange rounded-full;
}
.about-us-crds-h1 {
    @apply  text-grey text-[14px] md:text-[24px] font-semibold;
}
.about-us-crds-p {
    @apply   text-grey text-[9.9px] md:text-[16px] px-2 md:px-0 ;
}
.about-us-who-we-are-p {
    @apply   text-[14.42px] mt-5 md:text-[20px] font-gilroy-regular leading-6 ;
}
.about-us-who-we-are-div {
    @apply   md:w-[356px] lg:h-[163px] text-center max-[360px]:w-60;
}
.about-us-who-we-are-span {
    @apply   text-[16.22px] md:text-[22px] font-gilroy-semi-bold;
}
.about-us-who-we-are-hr {
    @apply   md:h-[60%] w-[50%] md:w-0 border-[1px] border-gray-500;
}
.flex-cols {
    @apply   flex flex-col justify-center items-center ;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgb(2, 2, 2) inset !important;
  -webkit-text-fill-color: aliceblue;
}